/*cabeçalho*/
nav img{
    width: 70px;
    height: 70px;
    
}

nav a{
    font-size: 52px;
}

/*Conteudo principal*/
main {
    min-height: 500px;
}

/*banner*/
#section-banners img{
    height: 500px;
}

/*Produtos vendidos*/
#section-vendidos {
    text-align: center;
}

#section-vendidos h2 {

    font-weight: bold;
    padding: 20px;

}

#section-vendidos img {
    height: 300px;
    border-radius: 10px;
}

#section-vendidos .card {

    margin: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}

#section-vendidos .preco { 

    color: red;
    font-size: 18px;
    font-weight: bold;
}

.grup-card {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

/*Botão Voltar topo*/

#voltar-topo {
    
    position: fixed;
    bottom: 5px;
    right: 50px;
}

/* página de login  */

#section-login {

    margin-top: 100px;

}

#section-login h1 {

    text-align: center;

}

#section-login input {

    width: 100%;

}


/* Formulário de cadastro*/

#section-cadastro {
   
   text-align: center;
   padding: 5px;
   background-color: white;
}

#form-cadastrar {
    padding: 50px;
    display: none;
}




/*Rodapé*/
footer {
    text-align: center;
}
footer p{
    font-weight: bold;
    padding: 10px;
}

/*responsividade */



@media (max-width: 930px) { 
   
    #section-vendidos img {
        height: 250px;
        border-radius: 10px;
    }
    #section-banners img{
        height: 450px;
    }

    
 }

@media (max-width: 768px) { 
    #section-vendidos img {
        height: 200px;
        border-radius: 10px;
    }
    #section-banners img{
        height: 300px;
    }
        
        
 }
 

 @media (max-width: 575.98px) { 
    .grup-card {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    #section-banners img{
        height: 200px;
    }
 }